DATABASE_URL=postgresql://user:password@localhost:5432/ai_interview
ASYNC_DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/ai_interview

JWT_SECRET_KEY=replace_me

ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30